{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}

<link rel='stylesheet' id='generate-google-fonts-css' href='https://fonts.googleapis.com/css?family=Merriweather%3Aregular%2Citalic%7CInter%3Aregular%2C700&#038;display=auto&#038;ver=3.2.4' media='all' />

{{- /* Head custom content area end */ -}}