:root {
    --primary: #575760;
    --main-width: 650px;
    --jgb-dark: #00ffbc;
    --jgb-light: #0e11a8;
}

body {
    font-family: Inter, sans-serif;
    font-size: unset;
}

a {
    color: var(--jgb-light);
}

.dark a {
    color: var(--jgb-dark);
}

p {
    font-family: Merriweather, serif;
    line-height: 2em;
}

.post-content ul {
    font-family: Merriweather, serif;
    margin-left: 1em;
}

.post-content li {
    margin-bottom: 1em;
}

.post-content li::marker {
    color: var(--jgb-light);
}

.dark .post-content li::marker {
    color: var(--jgb-dark);
}

.dark p, .dark .post-content ul {
    color: #fff;
}

h1 {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: -0.04em;
}

h1.post-title {
    text-align: center;
}

header.entry-header h2 {
    text-align: center;
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 2.4em;
    letter-spacing: -0.04em;
    color: var(--secondary);
}

.post-content h5 {
    font-size: 1.07em;
    font-weight: normal;
    line-height: 1.5em;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f7f8f9;
    border-radius: 10px;
}

.dark .post-content h5 {
    background: var(--entry);
}

.post-content h3 {
    font-weight: normal;
}

nav a, .dark nav a {
    color: unset;
}

nav.nav, .logo {
    justify-content: center;
}

div.logo a {
    background: #0096ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00fa92, #0096ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00fa92, #0096ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 5em;
    letter-spacing: -0.09em;
    padding-right: 0.06em;
    line-height: 1.2em;
}

@media (max-width:768px) {
    div.logo a {
     font-size: 12vw;
    }

    header.entry-header h2 {
        font-size: 2em;
    }
}

div.post-meta {
    text-align: center;
    display: block;
}

div.entry-content {
    font-size: unset;
}

.post-entry {
    background: unset;
    border: none;
}

.list {
    background: white;
}

footer.entry-footer {
    text-align: center;
    margin-top: 20px;
}